body {
	padding: 0px;
	margin : 0px;
	background: linear-gradient(0deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 50, 100, 1) 20%,
			rgba(0, 151, 255, 1) 96%,
			rgb(251, 255, 0) 100%);
	background-repeat    : no-repeat;
	background-attachment: fixed;
}

canvas {
	background: rgba(200, 200, 255, 0.5);
	position  : absolute;
	top       : 50%;
	left      : 50%;
	transform : translate(-50%, -50%);
	width     : 80vmin;
	height    : 80vmin;
}

@media (pointer: coarse) {
	canvas {
		width : 95vmin;
		height: 95vmin;
	}
}

a {
	color: white;
}

#c_gold {
	color: gold;
}

#c_orange {
	color: orange;
}

#c_green {
	color: greenyellow;
}

#c_cyan {
	color: cyan;
}
